<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSDLNC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CSDLNC.Properties.Settings.CSDLNCConnectionString"
            connectionString="Data Source=LAPTOP-M7E40EH8;Initial Catalog=CSDLNC;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CSDLNC.Properties.Settings.CSDLNC05ConnectionString"
            connectionString="Data Source=LAPTOP-M7E40EH8;Initial Catalog=CSDLNC05;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <CSDLNC.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value />
            </setting>
        </CSDLNC.Properties.Settings>
    </userSettings>
</configuration>