USE [CSDLNC05]
GO
/****** Object:  Table [dbo].[ALLERGY]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLERGY](
	[PATIENTID] [numeric](18, 0) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[UPDATEDBY] [numeric](18, 0) NULL,
 CONSTRAINT [PK_ALLERGY] PRIMARY KEY CLUSTERED 
(
	[PATIENTID] ASC,
	[DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[PATIENTID] [numeric](18, 0) NOT NULL,
	[DENTISTID] [numeric](18, 0) NOT NULL,
	[TIME] [datetime] NOT NULL,
	[ASSISTANTID] [numeric](18, 0) NULL,
	[ROOM] [char](10) NOT NULL,
	[STATUS] [nvarchar](50) NULL,
	[BOOKINGID] [numeric](18, 0) IDENTITY(100001,1) NOT NULL,
 CONSTRAINT [PK_BOOKING] PRIMARY KEY CLUSTERED 
(
	[BOOKINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DENTIST]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DENTIST](
	[STATUS] [bit] NULL,
	[FIRSTNAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NULL,
	[PHONENUMBER] [char](10) NULL,
	[DOB] [datetime] NULL,
	[ADDRESS] [nvarchar](80) NULL,
	[ID] [numeric](18, 0) IDENTITY(201,1) NOT NULL,
	[PASSWORD] [char](20) NOT NULL,
	[USERNAME] [char](20) NOT NULL,
 CONSTRAINT [PK_DENTIST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[INVOICEID] [numeric](18, 0) IDENTITY(1001,1) NOT NULL,
	[PLANID] [numeric](18, 0) NOT NULL,
	[TOTALPAYMENT] [float] NULL,
	[NOTE] [nvarchar](50) NULL,
	[RECEIVEDAMOUNT] [float] NULL,
	[CHANGEAMOUNT] [float] NULL,
	[PAYMENTMETHOD] [nvarchar](50) NULL,
 CONSTRAINT [PK_INVOICE] PRIMARY KEY CLUSTERED 
(
	[INVOICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICATION]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICATION](
	[MEDICATIONID] [numeric](18, 0) IDENTITY(100001,1) NOT NULL,
	[MEDICATIONNAME] [nvarchar](50) NULL,
	[QUANTITYINSTOCK] [int] NULL,
	[PRICE] [float] NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_MEDICATION] PRIMARY KEY CLUSTERED 
(
	[MEDICATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OVERALLHEALTH]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OVERALLHEALTH](
	[PATIENTID] [numeric](18, 0) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[UPDATEDBY] [numeric](18, 0) NULL,
 CONSTRAINT [PK_OVERALLHEALTH] PRIMARY KEY CLUSTERED 
(
	[PATIENTID] ASC,
	[DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT](
	[ID] [numeric](18, 0) IDENTITY(10001,1) NOT NULL,
	[FIRSTNAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NULL,
	[PHONENUMBER] [char](10) NULL,
	[DOB] [datetime] NULL,
	[ADDRESS] [nvarchar](80) NULL,
	[TOTALPAYMENT] [float] NULL,
	[TOTALPAID] [float] NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_PATIENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONALSCHEDULE]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONALSCHEDULE](
	[PERSONALSCHEDULEID] [numeric](10, 0) IDENTITY(100001,1) NOT NULL,
	[ID] [numeric](18, 0) NOT NULL,
	[DATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_PERSONALSCHEDULE] PRIMARY KEY CLUSTERED 
(
	[PERSONALSCHEDULEID] ASC,
	[DATETIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESCRIPTION]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESCRIPTION](
	[MEDICATIONID] [numeric](18, 0) NOT NULL,
	[PLANID] [numeric](18, 0) NOT NULL,
	[AMOUNT] [int] NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
 CONSTRAINT [PK_PRESCRIPTION] PRIMARY KEY CLUSTERED 
(
	[MEDICATIONID] ASC,
	[PLANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[STATUS] [bit] NULL,
	[FIRSTNAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NULL,
	[PHONENUMBER] [char](10) NULL,
	[DOB] [datetime] NULL,
	[ADDRESS] [nvarchar](80) NULL,
	[ID] [numeric](18, 0) IDENTITY(201,1) NOT NULL,
	[PASSWORD] [char](20) NOT NULL,
	[USERNAME] [char](20) NOT NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEETH]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEETH](
	[TEETHID] [numeric](18, 0) IDENTITY(21,1) NOT NULL,
	[TEETHNAME] [nvarchar](50) NULL,
	[SIDE] [char](20) NULL,
 CONSTRAINT [PK_TEETH] PRIMARY KEY CLUSTERED 
(
	[TEETHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREATMENTDETAIL]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREATMENTDETAIL](
	[PLANID] [numeric](18, 0) NOT NULL,
	[TEETH] [numeric](18, 0) NOT NULL,
	[FEE] [float] NULL,
	[DESCRIPTION] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_TREATMENTDETAIL] PRIMARY KEY CLUSTERED 
(
	[PLANID] ASC,
	[TEETH] ASC,
	[DESCRIPTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREATMENTPLAN]    Script Date: 1/11/2024 4:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREATMENTPLAN](
	[PATIENTID] [numeric](18, 0) NOT NULL,
	[DENTISTID] [numeric](18, 0) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[PLANID] [numeric](18, 0) IDENTITY(100001,1) NOT NULL,
	[ASSISTANTID] [numeric](18, 0) NULL,
	[NOTE] [nvarchar](100) NULL,
	[STATUS] [nvarchar](50) NULL,
 CONSTRAINT [PK_TREATMENTPLAN] PRIMARY KEY CLUSTERED 
(
	[PLANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALLERGY]  WITH CHECK ADD  CONSTRAINT [FK_ALLERGY_REFERENCE_DENTIST] FOREIGN KEY([UPDATEDBY])
REFERENCES [dbo].[DENTIST] ([ID])
GO
ALTER TABLE [dbo].[ALLERGY] CHECK CONSTRAINT [FK_ALLERGY_REFERENCE_DENTIST]
GO
ALTER TABLE [dbo].[ALLERGY]  WITH CHECK ADD  CONSTRAINT [FK_ALLERGY_REFERENCE_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([ID])
GO
ALTER TABLE [dbo].[ALLERGY] CHECK CONSTRAINT [FK_ALLERGY_REFERENCE_PATIENT]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_REFERENCE_DENTIST] FOREIGN KEY([ASSISTANTID])
REFERENCES [dbo].[DENTIST] ([ID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_REFERENCE_DENTIST]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_RELATIONS_DENTIST] FOREIGN KEY([DENTISTID])
REFERENCES [dbo].[DENTIST] ([ID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_RELATIONS_DENTIST]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([ID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_RELATIONS_PATIENT]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_RELATIONS_TREATMEN] FOREIGN KEY([PLANID])
REFERENCES [dbo].[TREATMENTPLAN] ([PLANID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_RELATIONS_TREATMEN]
GO
ALTER TABLE [dbo].[OVERALLHEALTH]  WITH CHECK ADD  CONSTRAINT [FK_OVERALLH_REFERENCE_DENTIST] FOREIGN KEY([UPDATEDBY])
REFERENCES [dbo].[DENTIST] ([ID])
GO
ALTER TABLE [dbo].[OVERALLHEALTH] CHECK CONSTRAINT [FK_OVERALLH_REFERENCE_DENTIST]
GO
ALTER TABLE [dbo].[OVERALLHEALTH]  WITH CHECK ADD  CONSTRAINT [FK_OVERALLH_REFERENCE_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OVERALLHEALTH] CHECK CONSTRAINT [FK_OVERALLH_REFERENCE_PATIENT]
GO
ALTER TABLE [dbo].[PERSONALSCHEDULE]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_RELATIONS_DENTIST] FOREIGN KEY([ID])
REFERENCES [dbo].[DENTIST] ([ID])
GO
ALTER TABLE [dbo].[PERSONALSCHEDULE] CHECK CONSTRAINT [FK_PERSONAL_RELATIONS_DENTIST]
GO
ALTER TABLE [dbo].[PRESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FK_PRESCRIP_RELATIONS_MEDICATI] FOREIGN KEY([MEDICATIONID])
REFERENCES [dbo].[MEDICATION] ([MEDICATIONID])
GO
ALTER TABLE [dbo].[PRESCRIPTION] CHECK CONSTRAINT [FK_PRESCRIP_RELATIONS_MEDICATI]
GO
ALTER TABLE [dbo].[PRESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FK_PRESCRIP_RELATIONS_TREATMEN] FOREIGN KEY([PLANID])
REFERENCES [dbo].[TREATMENTPLAN] ([PLANID])
GO
ALTER TABLE [dbo].[PRESCRIPTION] CHECK CONSTRAINT [FK_PRESCRIP_RELATIONS_TREATMEN]
GO
ALTER TABLE [dbo].[TREATMENTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TREATMEN_SERVICEDE_TEETH] FOREIGN KEY([TEETH])
REFERENCES [dbo].[TEETH] ([TEETHID])
GO
ALTER TABLE [dbo].[TREATMENTDETAIL] CHECK CONSTRAINT [FK_TREATMEN_SERVICEDE_TEETH]
GO
ALTER TABLE [dbo].[TREATMENTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TREATMEN_SERVICEDE_TREATMEN] FOREIGN KEY([PLANID])
REFERENCES [dbo].[TREATMENTPLAN] ([PLANID])
GO
ALTER TABLE [dbo].[TREATMENTDETAIL] CHECK CONSTRAINT [FK_TREATMEN_SERVICEDE_TREATMEN]
GO
ALTER TABLE [dbo].[TREATMENTPLAN]  WITH CHECK ADD  CONSTRAINT [FK_TREATMEN_REFERENCE_DENTIST] FOREIGN KEY([ASSISTANTID])
REFERENCES [dbo].[DENTIST] ([ID])
GO
ALTER TABLE [dbo].[TREATMENTPLAN] CHECK CONSTRAINT [FK_TREATMEN_REFERENCE_DENTIST]
GO
ALTER TABLE [dbo].[TREATMENTPLAN]  WITH CHECK ADD  CONSTRAINT [FK_TREATMEN_RELATIONS_DENTIST] FOREIGN KEY([DENTISTID])
REFERENCES [dbo].[DENTIST] ([ID])
GO
ALTER TABLE [dbo].[TREATMENTPLAN] CHECK CONSTRAINT [FK_TREATMEN_RELATIONS_DENTIST]
GO
ALTER TABLE [dbo].[TREATMENTPLAN]  WITH CHECK ADD  CONSTRAINT [FK_TREATMEN_RELATIONS_PATIENT] FOREIGN KEY([PATIENTID])
REFERENCES [dbo].[PATIENT] ([ID])
GO
ALTER TABLE [dbo].[TREATMENTPLAN] CHECK CONSTRAINT [FK_TREATMEN_RELATIONS_PATIENT]
GO
